body {
    background-color: white;
    color: white;
    margin: 0;
    font-family: cursive;
    font-size: 175%;
}
div.card{
    background-color: white;
    border: 5px dashed black
        color:white
}
th{ 
    font-size: 35px;
    font-style: italic;
    font-family: cursive;
   max-width: 300px;
    border: 1px solid black;    
 background-color: black;
text-align: center;   
}
td{
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
   max-width: 300px;
    border: 1px solid black;    
 background-color: black;
text-align: center;  
}
h1{
   font-size: 35px;
    font-style: italic;
    font-family: cursive;
   max-width: 400px;
    border: 1px solid gray;    
 background-color: gray;
text-align: center;  
     display: flex;
   margin: auto;


}
img.item{
    width: 150px;
}

form input, label {
    display: block;
}

form {
    text-align: left;
}

section {
    display: flex;
    flex-direction: row;
}

nav, article {
    padding: 15px;
}

header, footer {
    background-color: black;
    padding: 15px;
}

nav {
    background-color: white;
    color: black;
    flex: 30%;
}

nav a {
    display:block;
    border: 1px solid black;
    max-width: 200px;
    text-align: center;
    margin: 10px auto;
}

a:hover {
    background-color: red;
}

article {
    background-color: #125;
    flex: 60%;
}

@media screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
}